/clases/ConceptosBasicos/nbproject/private/
/clases/ConceptosBasicos/build/
diagramaBD.img
/clases/ProyectoLibro/nbproject/private/
/clases/ProyectoLibro/build/
/clases/Reutilizacion de codigo 2209/nbproject/private/
/clases/Reutilizacion de codigo 2209/build/
